---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Tower of Hanoi"
	description="A bit of history..."
	pubDate={new Date('December 1, 2024')}
	heroImage="/history.webp"
>
<h1>Let us introduce ourselves</h1>
<p>
	Hello! We are the Tower of Hanoi (also known as Hanoiati or LoHackers), the CTF team from <a href="https://polimi.it/">Politecnico di
	Milano</a> (Italy).
	We are a group of B.Sc, M.Sc, and Ph.D. students interested in information
	security. We love to play CTF and sometimes to organize them too (check out
	<a href="https://polictf.it">PoliCTF</a>)!
</p>
<p>
	We're also part of <a href="https://mhackeroni.it">mHACKeroni</a>, which joins the forces of many Italian CTF teams for DEF CON CTF Quals and Finals.
</p>
<p>
	Our <a href="https://ctftime.org/team/300">CTFTime profile</a> lists the competitions we
	recently took part to.
</p>
<p>
	Our designated meeting place is <a href="https://necst.it/">NECSTLab</a>, a research
	laboratory in Politecnico di Milano does research in the field of computer architectures and security.
	Other than playing CTFs, sometimes we organize events known as <em>Hackmeetings</em>, where we solve challenges together, dissect both software and hardware, and learn new things.
</p>
<h2>⚑Cool, but... what is a CTF?</h2>
<p>
	CTFs (Capture The Flag) are information security competitions, aimed at
	teaching how to find, exploit and patch security vulnerabilities and, in turn,
	how to avoid vulnerabilities when writing software.
</p>
<h3>🌐 Attack and Defence</h3>
<p>
	Some CTFs are organized as <em>attack-defense</em> competitions: different teams
	receive a virtual machine image with some vulnerable (network) services; each
	team has to find the vulnerabilities, patch them in its own image to defend
	themselves from the attacks of other teams, and exploit the vulnerabilities
	attacking other teams to gain tokens (i.e., flags) needed to score game points.
</p>
<h3>🎯 Jeopardy</h3>
<p>
	In <em>jeopardy-style</em> CTFs (the most popular choice), teams are
	presented with a set of specific challenges in a range of categories, touching
	aspects such as vulnerability exploitation, reverse engineering, cryptography
	and others.
</p>
<h2>📜 A bit of history</h2>
<p>
	The team "Tower of Hanoi" traces its root back to 2004: the University of
	California, Santa Barbara organized in December 2004 a CTF (the iCTF)
	open to university students all over the world.
	Politecnico di Milano was invited and joined with the team "The Tower of Hanoi".
	Our team won the first and second (June 2005) edition of the contest;
	Tower of Hanoi has been playing iCTF every year since then.
</p>
<p>
	In 2010, Tower of Hanoi grows up, becoming a full-fledged CTF team:
	we start competing also to other of the main online jeopardy and attack-defense CTFs,
	such as the DEF CON Qualifiers, PlaidCTF, CSAW, RuCTFe, and many others.
</p>
<p>
	In the meantime, we also created our own CTF: in <a href="https://2012.polictf.it">2012</a>, we
	go online with the first edition of the <a href="https://www.polictf.it">PoliCTF</a>.
	The experiment was successful, and we repeated it in <a href="https://2015.polictf.it">2015</a>
	and <a href="https://2017.polictf.it">2017</a>.
</p>
<p>
	In 2018, we joined other academic and non-academic Italian teams to get serious
	into qualifying to the DEF CON CTF (i.e., the most important CTF!). We create
	the "mega-team" <a href="https://mhackeroni.it">mHACKeroni</a>, obtaining the second place
	to the DEF CON 2018 Qualifiers and the seventh place to the finals in Vegas.
</p>
<h2>☎️ Contact us</h2>
<p>
	If you are interested, feel free to drop us a line! Our email address is towerofhanoictf[@]gmail.com, or you can find us on Twitter
	<a href="https://twitter.com/towerofhanoi">@towerofhanoi</a>.
</p>
</p>
</Layout>
