---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src="/new_tower_logo.png" width="20%" style="margin-bottom: 2rem; display: block; margin-left: auto; margin-right: auto;">
			<h1><img src="/writing_linear_white.png"></h1>
			<hr style="border: 0; border-top: 1px solid lightgrey; margin: 2rem 0;">
			<p>
					<span style="font-weight: bold">Tower of Hanoi</span> is a the CTF team of Politecnico di Milano. We are a group of students and alumni who share a passion for cybersecurity and computer science. We participate in CTF competitions and organize events to spread the culture of cybersecurity.
			</p>
			<h3>Interested in learning cybersecurity?</h3>
			<p>
				If you are between 16 and 24 years old, you can participate in the next edition of <a href="https://cyberchallenge.it/">Cyberchallenge</a>.
				It is a comprehensive beginner course on cybersecurity, organized by the Italian Cybersecurity National Lab. Take the entrance test and, if you pass, you will be able to attend the course.
				The course is completely free of charge and it is held in Italian.
			</p>
			<p>Still, if you can't wait to start learning, you can check out some of the permanent <a href="https://github.com/cyberguideme/CTFs-Labs-WarGames">wargames</a> available online.</p>
		</main>
		<Footer />
	</body>
</html>
