---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src="/new_tower_logo.png" width="20%" style="margin-bottom: 2rem; display: block; margin-left: auto; margin-right: auto;">
			<h1><img src="/writing_linear_white.png"></h1>
			<hr style="border: 0; border-top: 1px solid lightgrey; margin: 2rem 0;">
			<p>
					<span style="font-weight: bold">Tower of Hanoi</span> is a the CTF team of <a href="https://polimi.it/">Politecnico di Milano</a>. We are a group of students and alumni who share a passion for cybersecurity and computer science. We participate in CTF competitions and organize events to spread the culture of cybersecurity.
			</p>
			<p>We are part of <a href="http://mhackeroni.it/">mhackeroni</a>, a union of italian teams that participates in <a href="https://defcon.org/">DEF CON</a> CTF to qualify and compete in Las Vegas, among the world's best hacking teams.</p>
			<hr style="border: 0; border-top: 1px solid lightgrey; margin: 2rem 0;">
			<p>Every now and then we organize <span style="font-weight: bold">Hackmeetings</span>, events where we gather to share knowledge, work on projects and have fun together. Here's a picture of a typical hackmeeting:</p>
			<img src="/hackmeeting.jpg" alt="A typical hackmeeting">
		</main>
		<Footer />
	</body>
</html>
